@model LoginFromFrameSSOViewModel
@{
    ViewData["Title"] = "Auth";
    Layout = String.Empty;
}

<div style="text-align: center;">
    Login Completed, Close Window
</div>

<script type="text/javascript">
    window.close();
</script>
