@model LogoutFromFrameSSOViewModel
@{
    ViewData["Title"] = "Auth";
}

<div style="text-align: center;">
    Logging out...
</div>

<script type="text/javascript">
    const logoutUrl = "@Url.Action("LogoutSSO", "Auth")";
    const returnUrl = "@Model.ReturnUrl";
    const loginWindow = window.open(logoutUrl, "Logout", 'width=400,height=500,scrollbars=yes');
    const timer = setInterval(function() {
        if (loginWindow.closed) {
            clearInterval(timer);
            window.location = returnUrl;
        }
    }, 1000);
</script>
